.PortfolioPage{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5rem;
    @media screen and (max-width: 1080px){
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2rem;
    }
    .portfolio-item{
        background-color:#161925;
        width: 100%;
        padding: 1rem;
        overflow: hidden;
        .portfolio-content{
            overflow: hidden;
            padding-bottom: 2rem;
            img{
                width: 100%;
                transition: all .2s ease-in-out;
                &:hover{
                    transform: scale(1.1);
                }
                padding-bottom: 2rem;
            }
            .portfolio-icons{
                float: right;
                display: flex;
                .icon-link{
                    margin-right: 1rem;
                    .icon{
                        font-size: 1.25rem;
                        color: #a4acc4;
                    }
                    .github:hover{
                        color:white;
                    }
                    .link:hover{
                        color:#037FFF;
                    }
                }
            }
        }
    }
}

.b-title{
    margin-bottom: 4rem;
}